.page {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-family: "Segoe UI", sans-serif;
}

.card {
  background:white;
  padding: 20px;
  border-radius: 12px;
  width: 900px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.title {
  text-align: center;
  color: rgb(239,46,239);
  margin-bottom: 20px;
}

.tab-slider {
  position: relative;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.tab {
  flex: 1;
  text-align: center;
  padding: 12px 0;
  cursor: pointer;
  z-index: 1;
  color: #555;
  font-weight: 500;
}

.tab.active {
  color: #fff;
}

.slider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgb(239,46,239);
  border-radius: 10px;
  transition: transform 0.3s ease;
  z-index: 0;
}

.slider.right {
  transform: translateX(100%);
}

.tab-content {
  min-height: 200px;
}
.qr-form {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  gap: 15px; 
  width: 100%; 
  text-align: center; 
}

.qr-textarea {
  width: 94%; 
  height: 80px;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  resize: none;
}

.options {
  display: flex;
  gap: 45px;
  justify-content: center;
  flex-wrap: wrap; 
}

.options label {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.preview {
  margin: 20px 0;
}

.actions {
  display: flex;
  gap: 15px;
  margin-top: 30px;
  justify-content: center;
}
.n1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.bt1{
    background-color: blue;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    padding: 10px 20px;

}
.bt2{
    background-color: red;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 17px;

}
.bt3{
    background-color:rgb(225, 10, 225);
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 17px;

}
.bt1:hover{
    transform: scale(1.05);
}
.bt2:hover{
    transform: scale(1.05);
}
.bt3:hover{
    transform: scale(1.05);
}
.options select,
.options input[type="color"] {
  margin-top: 6px;
  height: 36px;
  width: 140px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  cursor: pointer;
  background: rgb(246, 236, 236);
  transition: all 0.25s ease;
}


.options input[type="color"] {
  padding: 3px;
}


.options select:hover,
.options input[type="color"]:hover {
  border-color: rgb(239,46,239);
}

.options select:focus,
.options input[type="color"]:focus {
  outline: none;
  border-color: rgb(239,46,239);
  box-shadow: 0 0 0 2px rgba(239,46,239,0.25);
}

.options {
  background: #f8f8f8;
  padding: 15px 20px;
  border-radius: 12px;
  box-shadow: inset 0 0 0 1px #ddd;
}



