body{
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background:#0f172a;
    color: white;
}

.app{
    max-width: 600px;
    margin: auto;
    padding: 20px;
}
h1{
    text-align: center;
}
.card{
    background: #1e293b;
    padding: 20px;
    margin:15px 0;
    border-radius: 12px;
}
input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin-bottom: 10px;
}

input[type="range"],
input[type="color"] {
  width: 100%;
  margin-bottom: 10px;
}